/*Definición de variables*/
:root {
  --color-oscuro: #262c4e;
  --color-medio: #01365c;
  --color-claro: #3273a2;
}
body {
  margin: 0;
}
header {
  width: 100%;
  height: 100px;
  box-shadow: 20px rgba(0, 0, 0, 0.5);
  display: inline-flex;
}
main {
  background-color: var(--color-oscuro);
  width: 100%;
  padding-top:10px;
  padding-bottom: 10px;
  height:1000px;
}
.main-box {
  border-radius: 10px;
  width: 65%;
  height: 400px;
  background-color: white;
  margin: auto;
  margin-bottom: 17px;
}
main ul li img{
  border-radius: 10px;
}
footer {
  width: 100%;
  height: 250px;
  background-color: #131629;
}

.indicator{
  color: #131629;
}