/*Definición de variables*/
:root {
  --color-oscuro: #262c4e;
  --color-medio: #01365c;
  --color-claro: #3273a2;
}
body {
  margin: 0;
}
header {
  width: 100%;
  height: 100px;
  box-shadow: 20px rgba(0, 0, 0, 0.5);
  display: inline-flex;
}
.logo img {
  width: 270px;
}
.logo {
  margin: auto;
  margin-left: 42%;
}
.help {
  font-size: 30px;
  color: black;
  text-decoration: none;
  border: 2px solid var(--color-oscuro);
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  margin: auto;
  margin-left: 30%;
  height: 35px;
}
.log-in {
  font-size: 30px;
  color: black;
  text-decoration: none;
  border: 2px solid var(--color-oscuro);
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
  margin: auto;
  margin-left: -10px;
  height: 35px;
}
.log-in:hover,
.help:hover {
  color: white;
  background-color: var(--color-medio);
  transition: ease-in-out 200ms;
}
main {
  background-color: var(--color-oscuro);
  width: 100%;
  padding-top: 17px;
  padding-bottom: 1px;
}
.main-box {
  border-radius: 10px;
  width: 65%;
  height: 400px;
  background-color: white;
  margin: auto;
  margin-bottom: 17px;
}
footer {
  width: 100%;
  height: 250px;
  background-color: #131629;
}

/* sidebar */
.menu {
  margin-top: 30px;
  margin-left: 10px;
  width: 2.5rem;
  height: 2.2rem;
  background: white;
  border-radius: 0.5rem;

  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  font-family: sans-serif;
  color: #ffffff;
  text-align: center;
  transition: left 1s;
}
.menu h2 {
  transform: rotate(90deg);
  margin: auto;
  margin-top: -11px;
  margin-bottom: -24px;
  margin-left: 5px;
  font-size: 1.8rem;
  color: var(--color-oscuro);
  transition: 500ms;
}
.menu:hover {
  cursor: pointer;
  background-color: var(--color-oscuro);
  transition: 500ms;
}
.menu:hover > h2 {
  color: white;
  transition: 0.5s;
}
.checkbox:checked ~ .menu {
  left: 188px;
  border-radius: 0 0.5rem 0.5rem 0;
  transition: 0.4s;
  background-color: var(--color-oscuro);
}
.checkbox:checked ~ .menu > h2 {
  color: white;
}
.checkbox:checked ~ .menu > .line_2 {
  opacity: 0;
  transition: 500ms;
}
.checkbox:checked ~ .menu > .line_1 {
  transform-origin: center;
  position: absolute;
  margin-top: 2px;
  margin-left: 17px;
  transform: rotate(135deg);
  transition: 500ms;
}
.checkbox:checked ~ .menu > .line_3 {
  position: absolute;
  transform-origin: center;
  margin-left: 17px;
  margin-top: -1px;
  transform: rotate(45deg);
  transition: 500ms;
}
.left-panel {
  width: 200px;
  height: 100%;
  background: linear-gradient(#262c4e, #01365c);
  position: absolute;
  top: 0;
  left: -200px;
  display: flex;
  transition: left 0.4s;
}

.checkbox:checked ~ .left-panel {
  left: 0;
}

.checkbox {
  display: none;
}

ul a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 20px;
  text-align: center;
  padding: 0 0.5rem;
  margin: 1rem 0;
}

li:hover {
  opacity: 0.5;
}
/* sidebar */
